.fav-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  height: min-content;
}

.britain {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  height: fit-content;
  margin: 50px;
}

#flex-grid {
  display: flex;
  justify-content: space-between;
}

.details-list2 {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
  width: 260px;
  box-shadow: 5px 10px 8px #888888;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  list-style: none;
  margin: 30px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  border-radius: 25px;
}

#city-name {
  /* flex: 100%;
  align-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 500; */
  /* margin: 20px; */
  width: 50%;
  /* overflow:hidden; */
  /* height:1em; */
  /* padding: 10px; */
  background-color: #2d3142;
  color: white;
  color: #FFFFFF;
  border-radius : 14px;
}

.icon {
  font-size: 50px;
}

#fav-city-name {
  font-size: 30px;
}

#fav-sunny-cloudy > .icon {
  font-size: 70px;
  justify-content: center;
}

#Layer-1 {
  justify-content: center;
}

#fav-temperature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#sun-temperature {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#min-max-temp,
#wind-number,
#rain-number {
  width: 100px;
}

#delete-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: #fbab7e;
  width: min-content;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid black;
  border-color: #fbab7e;
  color: white;
}
