.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
}

div > h1{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

#image-2 {
  height: 75px;
}

#header-left {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px;
}
