.city-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 50px;
}

#day-1,
#day-2,
#day-3,
#day-4,
#day-5,
#day-6 {
  margin: 30px;
  padding: 30px;
  width: 200px;
  box-shadow: 5px 10px 8px #888888;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#details-list {
  flex-wrap: wrap;
  list-style-type: none;
}

#city-name {
  flex: 100% 1;
  align-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 0px;
  /* padding: 10px; */
}

#daily-chart {
  flex-basis: 40%;
  width: 40%;
  margin: 30px;
  /* padding: 30px; */
}

#day-0 {
  flex-basis: 40%;

  box-shadow: 5px 10px 8px #888888;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  margin: 30px;
  padding: 30px;
  justify-content: center;
}

ul {
  padding: 0;
}

#day-number {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
}

li {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
  font-size: 50px;
}

#sunny-cloudy > .icon {
  font-size: 150px;
  justify-content: center;
}

#temperature,
#wind,
#rain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#min-max-temp {
  padding: 0;
  padding-left: 10px;
}
